<!--友情链接-->
<div class="side-link animation-div">
    <h4 class="index-title"><i class="el-paper-clip"></i>友情链接
        <small>Friend Links</small>
        <a href="mailto:online_learn_edu@sina.com?subject=博客友链互换&body=博客名称:<br> 博客描述:<br>博客地址:"><i class="el el-plus"></i>申请</a></h4>
    <ul>
        <li><a href="https://www.zaoshu.io/" target="_blank" title="智能云爬虫">造数</a></li>
        <li><a href="http://brucedone.com/" target="_blank" title="大鱼的鱼塘 - 一个总会有收获的地方">大鱼的鱼塘</a></li>
        <li><a href="http://www.songluyi.com/" target="_blank" title="">灯塔水母</a></li>
        <li><a href="http://blog.topspeedsnail.com/" target="_blank" title="本博客专注于技术，Linux，编程，Python，C，Ubuntu、开源软件、Github等">斗大的熊猫</a></li>
        <li><a href="https://www.urlteam.org/" target="_blank" title="本博客专注于技术，Linux，编程，Python，C，Ubuntu、开源软件、Github等">URL-team</a></li>
    </ul>
</div>